scikit-learn
scikit-learn-intelex
pygame-ce
pygame-gui
language-tool-python
langdetect
langcodes
tqdm
numpy
nltk
textblob
pandas
tf-keras
tensorflow
fasttext
pycountry
torch
torchvision
torchaudio
cupy-cuda12x
xgboost
pytrends
func-timeout
textstat
better-profanity
vaderSentiment
hf-xet
cryptography
transformers
accelerate
bitsandbytes
sentencepiece
safetensors
llama-cpp-python
spacy
emoji
google-genai
